{% extends 'anniversary/base.html' %}
{% load static %}
{% block content %}
<div class="form-wrapper">
    <h1>AnniverSlide</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_name">Employee Name</label>
            {{ form.name }}
            {% if form.name.errors %}
                <div class="error">{{ form.name.errors.0 }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="id_years">Years of Service</label>
            {{ form.years }}
            {% if form.years.errors %}
                <div class="error">{{ form.years.errors.0 }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="id_file">Upload Excel File</label>
            {{ form.file }}
            {% if form.file.errors %}
                <div class="error">{{ form.file.errors.0 }}</div>
            {% endif %}
        </div>
        <button type="submit" class="submit-btn">Generate Presentation</button>
    </form>
</div>
{% endblock %}
