{% extends 'anniversary/base.html' %}
{% block content %}
<div class="form-wrapper">
    <h1>Generate Work Anniversary PPT</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_name">Employee Name</label>
            {{ form.name }}
        </div>

        <div class="form-group">
            <label for="id_years">Years of Service</label>
            {{ form.years }}
        </div>

        <div class="form-group">
            <label for="id_file">Upload Excel File</label>
            {{ form.file }}
        </div>

        <button type="submit" class="submit-btn">Generate Presentation</button>
    </form>
</div>
{% endblock %}
